<h1>Registrazione Amministratore Contenuti</h1>
<form action="/AmministratoreContenuti/create" method="POST">
  Username: <input type="text" name="username"/><br>
  Password: <input type="password" name="password"/><br>
  <input type="submit" content="Registrati"/>
</form>
