<h1>Questionari compilabili</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Autore</th>
    <th>id</th>
    <th></th>
  </tr>

<%list.forEach(function (sondaggio) {%>
  <tr>
    <td><%=sondaggio.nome%></td>
    <td><%=sondaggio.amministratoreContenuti.account.username%></td>
    <td><%=sondaggio.id%></td>
    <td>
      <form action="/Sondaggio/compilazione" method="post">
        <input type="hidden" name="id" value="<%=sondaggio.id%>">
        <input type="submit" value="Compila">
      </form>
    </td>
  </tr>
<%});%>
</table>
