<h1 class="titoliPagina">Crea il tuo nuovo sondaggio</h1><br>
<form action="/Sondaggio/create" method="post">
  nome: <input name="nome"><br>
  <input type="submit" value="crea">
</form>
<a href="/Sondaggio/listaAC"><button type="button">visualizza sondaggi</button></a>

