<h1 class="titoliPagina">Crea il tuo nuovo sondaggio</h1><br>
<label for="nome">nome:</label>
<input type="text" name="nomeSondaggio">
<a href="/Sondaggio/InsDomande">inserisci domande</a><br>

<a href="/Sondaggio/Crea" name="crea">crea</a>
<a href="/Sondaggio/elencoSondaggi">salva come bozza</a>


