<h1>Riepilogo</h1>
Nome del sondaggio: <%=Sondaggio.nome%>
<table>
  <tr>
    <th>ID</th>
    <th>Argomento</th>
    <th>Domande</th>
  </tr>
  <%forEach(Sondaggio.argomenti, function (arg) {%>
    <tr>
      <td><%arg.id%></td>
      <form action="/Sondaggio/modificaArgomento" method="post">
        <input type="hidden" value="<%=arg.id%>" name="argModificato">
        <td><input value="<%arg.nome%>" name="txtArgomento"></td>
        <input type="submit" value="salva midifica">
      </form>
      <%forEach(Domande, function (dom) {%>
        <%if(dom.argomento == arg.id){%>
          <form action="/Sondaggio/modficaDomanda" method="post">
            <input type="hidden" value="<%=dom.id%>" name="domModificata">
            <td><input value="<%dom.testo%>" name="txtDomanda"></td>
            <input type="submit" value="salva modifica">
          </form>
          <%forEach(Risposte, function (ris) {%>
            <%if(ris.domanda == dom.id){%>
              <form action="/Sondaggio/modificaRisposta" method="post">
                <input type="hidden" value="<%=ris.id%>" name="risModificata">
                <td><input value="<%ris.testo%>" name="txtRisposta"></td>
                <input type="submit" value="salva modifica">
              </form>
            <%}%>
          <%})%>
        <%}%>
      <%})%>
    </tr>
  <%})%>
</table>
<a href="/Sondaggio/new"><button type="button">chiudi</button></a>
