<h1>sondaggio creato</h1>
nome:<%=Sondaggio.nome%><br>
<form action="/Argomento/new" method="post">
  <input type="hidden" value="<%=Sondaggio.id%>" name="sondaggio">
  <input type="submit" value="inserisci argomento">
</form>
