<h1>sondaggio creato</h1>
nome:<%=Sondaggio.nome%><br>
<form action="/Argomento/create" method="post">
  <input type="hidden" value="<%=Sondaggio.id%>" name="sondaggio">
  argomento:<input name="nome"><br>
  <input type="submit" value="inserisci">
</form>
