<div class="divDomande">
  <label for="testo">testo</label><br>
  <textarea name="txtDomanda"></textarea>
  <label for="argomento">argomento:</label>
  <input name="argomento"><br>
  <label for="risp1">1)<input name="risposta1"></label><br>
  <label for="risp2">2)<input name="risposta2"></label><br>
  <label for="risp3">3)<input name="risposta3"></label><br>
  <label for="risp4">4)<input name="risposta4"></label><br>
</div>
<a href="/Domanda/new"><button type="button">aggiungi</button></a>
<a href="/Sondaggio/completeSurvey"><button type="button">torna al sondaggio</button></a>
