<form action="utente/create" method="POST">

  Username: <input type="text" name="username"/><br>
  Password: <input type="password" name="password"/><br>
  Nome: <input type="text" name="nome"/><br>
  Cognome: <input type="text" name="cognome"/><br>
</form>
