<h1>Creazione account Amministratore di Sistema</h1>
<form action="/AmministratoreSistema/create" method="POST">
  Username: <input type="text" name="username"/><br>
  Password: <input type="password" name="password"/><br>
  <input type="submit" content="Registrati"/>
</form>
